// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  height: 100%;
  background-color: #ddd;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 14px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


.header{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  z-index: 5;

  .header_title{
    background-color: blue;
    font-family: fantasy;
    font-size: 30px;
    line-height: 60px; //中央揃えのため　headerのheight60pxと同じ値を与えている
    width: 30%;
    text-align: center;
    float: left;
  }

  .header_box{
    background-color: red;
    margin-right: 50px;
  }

  .header_check{
    float: right;
    height: 100%;
    line-height: 60px;
    margin-right: 20px;
    background-color: red; 
  }

}

.contents{
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100%;
}

.tweet_contents{
  margin: 0 auto;
  width: 60%;
  height: 100%;
  background-color: white;
  padding-top: 10px;
}

.tweets{
  width: 100%;
  height: 500px;
  border-radius: 5px;
  position: relative;
}

.tweet_img{
  width: 100%;
  height: 400px;

}

.longi{
  position: absolute;
  font-size: 40px;
  color: white;
  right: 10px;
  top: 30px;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode:vertical-rl;
}

.longi2{
  position: absolute;
  font-size: 40px;
  color: white;
  right: 60px;
  top: 80px;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode:vertical-rl;
}

.longi3{
  position: absolute;
  font-size: 40px;
  color: white;
  right: 110px;
  top: 130px;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode:vertical-rl;
}


