<!DOCTYPE html>
<html>
<head>
  <title>Haikutweet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <div class="header_title">
      俳句tweet
    </div>
    <div class="header_box">
      <div class="header_check">
       ログイン
      </div>
      <div class="header_check">
       新規登録
      </div>
    </div>
  </header>

<%= yield %>

</body>
</html>
